@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #b4c3ff 0%, #8bade8 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
}

.image {
  
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  text-decoration: underline;

}

.description {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 500;

}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
  font-weight: 500;
}

.skill {
  font-size: 20px;
  font-weight: 400;
  border-radius: 100px;
  background: rgb(169, 212, 221);
  padding: 2px 22px;
  
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
 
}

.link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
  border-radius: 100px;
  background: rgb(169, 212, 221);
  padding: 15px 30px;
}
@media screen and (max-width: 830px){
  
}