@import "../../vars.css";

.container {
  position: relative;
  background-color: rgb(41, 121, 147);
  border-radius: 15px;
  padding: 73px ;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;

  
 
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  text-decoration: underline;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: auto;
  
}
@media screen and (max-width: 830px){
  .container{
    background-color: black;
  }
}